﻿html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    margin: 20px;
    flex: 1 1 auto;
}

#drop_zone {
    margin: 5px;
    height: 10%;
    display: flex;
    flex: 0 0 10%;
    align-items: center;
    justify-content: center;
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 40px bold;
    font-family: 'Segoe UI';
    color: #bbb;
}

#drop_zone.dragging {
    border: 2px dashed #47d0fd;
    color: #47d0fd;
}

p {
    max-width: 1000px;
}

#log {
    flex: 0 0 10%;
    align-self: flex-end;
    overflow: auto;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 6px;
    padding: 2px;
}

.logFailure {
    color: red;
}

.logWarning {
    color: #C2A702;
}

.logTitle {

}

.logSuccess {
    color: green;
}
.canvasContainer {
}
button {
    width: 80px;
    margin: 6px;
}